CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_arcadyan_aw1000=y
CONFIG_HTOP_LMSENSORS=y
CONFIG_KERNEL_ZRAM_DEF_COMP_LZORLE=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-textsearch=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-fibocom=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan-quectel=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_zram-swap=y
